body{
    position: relative;
    padding:0px;
    margin: 0px;
}
.topBar{
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    background-color:rgb(0, 140, 255);
    display:block;
    margin: 0;
    color: beige;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1.25rem;
    overflow: hidden;
    font-family: 'Coda',cursive;
    font-style: normal;
}
.topBar a{
    color:inherit;
    background-color: coral;
}
.left{
    float: left;
    padding: 1.5rem;
}
.right{
    float: right;
    padding: 1.5rem;
}
.topBar .right ul{
    list-style-type: none;
}
.topBar .right li{
    display: inline;
}
.page{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    padding:0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: beige;
}
.page .image{    
    background-image: url("../assets/images/aboutme.jpg"); 
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.intro{
    color:white;
    padding: 1.875rem;
    margin: 0;
    position: absolute;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
    top: 50%;
    left:30%;
    width: 40rem;
    overflow: hidden;
    max-width: 40%;
    max-height: 40%;
    transform: translate(-50% ,-50%);
}
.heading{
    text-align: center;
    position: relative;
    top: 5%;
    font-size: 2rem;
}
.heading hr{
    width: 30%;
    border-style: solid;
    background-color: black;
    border-width: 2px;
}
.even{
    color:white;
    background-color: aqua;
}
.even .heading hr{
    background-color: beige;
}

.page i{
    position: absolute;
    bottom: -5rem;
    left: -5rem;
    color: rgba(0, 0, 0, 0.2);
    font-size: 20rem;
}
.even i{
    bottom: -5rem;
    right: -5rem;
    left: auto;
}
.topButton{
    position: fixed;
    padding: 0.625rem;
    bottom: 5%;
    right: 5%;
    border-radius: 50%;
    background-color: rgba(255,255,255, 0.5);
    box-shadow: 1px 2px 5px  rgba(0, 0, 0, 0.5);
}
.topButton i{
    font-size: 1.5rem;
}



@media screen and (max-device-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-device-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
@media only screen and (max-device-width: 600px) { 
:root{
    font-size: 12px;
}
.page .image{
    background-position: center;
}
.intro{
    left: 50%;
    background-color: rgba(255, 255, 255, 0.65);
    color: black;
}
}  
@media only screen and (min-device-width: 600px) { 
    :root{
        font-size: 16px;
    }

    
} 
@media only screen and (min-device-width: 768px) { 
    :root{
        font-size: 18px;
    }} 
@media only screen and(min-device-width:960px) { 
:root{
    font-size: 20px;
} }
@media only screen and (min-device-width:1200px) {
:root{
    font-size: 22px;
}
}